@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700|Lato:100,300,400,500);
/* Compass Mixins */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* componetnts */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
}

.message {
  padding: 1em;
  margin: 1em auto;
  font-family: "Lato";
  font-weight: 1em;
  width: 96%;
  border: 2px solid #42b2e3;
  color: #42b2e3;
}

a, a:visited, a:hover, a:active {
  color: #444444;
  font-family: "Lato";
  text-decoration: none;
}
a:hover, a:visited:hover, a:hover:hover, a:active:hover {
  color: #e84c3b;
}

p > a, a:visited, a:hover, a:active {
  color: #e84c3b;
}

/*    ___          ___          ___          ___          ___          ___     
     /\__\        /\  \        /\  \        /\  \        /\  \        /\  \    
    /:/  /       /::\  \      /::\  \      /::\  \      /::\  \      /::\  \   
   /:/__/       /:/\:\  \    /:/\:\  \    /:/\:\  \    /:/\:\  \    /:/\:\  \  
  /::\  \ ___  /::\~\:\  \  /::\~\:\  \  /:/  \:\__\  /::\~\:\  \  /::\~\:\  \ 
 /:/\:\  /\__\/:/\:\ \:\__\/:/\:\ \:\__\/:/__/ \:|__|/:/\:\ \:\__\/:/\:\ \:\__\
 \/__\:\/:/  /\:\~\:\ \/__/\/__\:\/:/  /\:\  \ /:/  /\:\~\:\ \/__/\/_|::\/:/  /
      \::/  /  \:\ \:\__\       \::/  /  \:\  /:/  /  \:\ \:\__\     |:|::/  / 
      /:/  /    \:\ \/__/       /:/  /    \:\/:/  /    \:\ \/__/     |:|\/__/  
     /:/  /      \:\__\        /:/  /      \::/__/      \:\__\       |:|  |    
     \/__/        \/__/        \/__/        ~~           \/__/        \|__|    */
header {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: #e84c3b;
}

.logoTitle {
  float: left;
  font-family: "Amatic SC";
  font-size: 4em;
  color: white;
  padding: 0 0 0 0;
}
@media (max-width: 720px) {
  .logoTitle {
    display: block;
    float: none;
    margin: 0 auto;
    text-align: center;
  }
}

/*    ___          ___         ___                     ___          ___       ___                     ___          ___     
     /\__\        /\  \       /\__\         ___       /\  \        /\  \     /\  \         ___       /\  \        /\__\    
    /::|  |      /::\  \     /:/  /        /\  \     /::\  \      /::\  \    \:\  \       /\  \     /::\  \      /::|  |   
   /:|:|  |     /:/\:\  \   /:/  /         \:\  \   /:/\:\  \    /:/\:\  \    \:\  \      \:\  \   /:/\:\  \    /:|:|  |   
  /:/|:|  |__  /::\~\:\  \ /:/__/  ___     /::\__\ /:/  \:\  \  /::\~\:\  \   /::\  \     /::\__\ /:/  \:\  \  /:/|:|  |__ 
 /:/ |:| /\__\/:/\:\ \:\__\|:|  | /\__\ __/:/\/__//:/__/_\:\__\/:/\:\ \:\__\ /:/\:\__\ __/:/\/__//:/__/ \:\__\/:/ |:| /\__\
 \/__|:|/:/  /\/__\:\/:/  /|:|  |/:/  //\/:/  /   \:\  /\ \/__/\/__\:\/:/  //:/  \/__//\/:/  /   \:\  \ /:/  /\/__|:|/:/  /
     |:/:/  /      \::/  / |:|__/:/  / \::/__/     \:\ \:\__\       \::/  //:/  /     \::/__/     \:\  /:/  /     |:/:/  / 
     |::/  /       /:/  /   \::::/__/   \:\__\      \:\/:/  /       /:/  / \/__/       \:\__\      \:\/:/  /      |::/  /  
     /:/  /       /:/  /     ~~~~        \/__/       \::/  /       /:/  /               \/__/       \::/  /       /:/  /   
     \/__/        \/__/                               \/__/        \/__/                             \/__/        \/__/   */
.landingNav {
  background: #ffffff;
  width: 100%;
  padding: 1em;
  position: relative;
  overflow: hidden;
}
.landingNav .logo {
  float: left;
  max-width: 100%;
  width: 5em;
}
@media (max-width: 800px) {
  .landingNav .logo {
    display: none;
  }
}
.landingNav .logoTitle {
  float: left;
  font-family: "Amatic SC";
  font-size: 3.5em;
  color: #e84c3b;
}
@media (max-width: 720px) {
  .landingNav .logoTitle {
    float: none;
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}
.landingNav .navList {
  float: right;
  font-size: 1.2em;
  padding: 0em 0em 0em 0em;
}
.landingNav .navList > li {
  float: left;
  padding: 1.65em 3em 0em 0em;
  font-weight: 300;
}
.landingNav .navList > li:last-child {
  padding-right: 0em;
}
@media (max-width: 720px) {
  .landingNav .navList > li {
    width: 22%;
    margin: 0 1.5%;
    text-align: center;
    padding: 1em 1em .5em 1em;
  }
}
@media (max-width: 720px) {
  .landingNav .navList {
    float: none;
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 720px) {
  .landingNav {
    padding-bottom: 0;
  }
}

.userPortal {
  margin: 1em 1em;
  float: right;
  background: #e84c3b;
  border-radius: 0px 0px 5px 5px;
}
.userPortal > li {
  float: left;
  padding: .5em 1em;
  font-weight: 300;
}
.userPortal > li a {
  color: #fff;
}
@media (max-width: 720px) {
  .userPortal {
    width: 100%;
    margin: 2.75em 0 0 0;
    border-radius: 0 0 0 0;
  }
}

.dashNav {
  float: left;
  background: #e9e9e9;
  position: absolute;
  top: 63px;
  bottom: 0px;
  width: 15%;
}
.dashNav > ul li a {
  display: block;
  text-align: center;
  padding: 1em .5em;
}
.dashNav > ul li a i {
  text-align: center;
}
.dashNav > a, .dashNav a:visited, .dashNav a:hover, .dashNav a:active {
  color: #444444;
}
.dashNav .active {
  animation: color 250ms ease-in forwards;
  -webkit-animation: color 250ms ease-in forwards;
}
.dashNav .active i {
  animation: iconColor 250ms ease-in forwards;
  -webkit-animation: iconColor 250ms ease-in forwards;
}
.dashNav .avatar {
  max-width: 100%;
  margin: 1em auto .5em auto;
}
.dashNav > h3 {
  text-align: center;
  font-weight: 300;
  color: #42b2e3;
  margin-bottom: 1em;
}
@media (max-width: 720px) {
  .dashNav {
    float: none;
    position: inherit;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    background: #ffffff;
  }
  .dashNav ul {
    overflow: hidden;
    margin: 0 auto;
    display: inherit;
    padding-top: 1em;
  }
  .dashNav ul > li {
    width: 20%;
    overflow: hidden;
    float: left;
    text-align: center;
  }
  .dashNav .avatar {
    display: none;
  }
  .dashNav h3 {
    display: none;
  }
}

@media (max-width: 720px) {
  .dashNav ul.vendor > li {
    width: 16.66666667%;
  }
}

@keyframes color {
  0% {
    background: none;
  }

  100% {
    background: #fff;
  }
}

@-webkit-keyframes color {
  0% {
    background: none;
  }

  100% {
    background: #fff;
  }
}

@keyframes iconColor {
  100% {
    color: #e84c3b;
  }
}

@-webkit-keyframes iconColor {
  100% {
    color: #e84c3b;
  }
}

/*    ___       ___          ___          ___          ___          ___          ___          ___          ___       ___     
     /\  \     |\__\        /\  \        /\  \        /\  \        /\  \        /\  \        /\  \        /\__\     |\__\    
     \:\  \    |:|  |      /::\  \      /::\  \      /::\  \      /::\  \      /::\  \      /::\  \      /:/  /     |:|  |   
      \:\  \   |:|  |     /:/\:\  \    /:/\:\  \    /:/\:\  \    /:/\:\  \    /:/\:\  \    /:/\:\  \    /:/__/      |:|  |   
      /::\  \  |:|__|__  /::\~\:\  \  /:/  \:\  \  /:/  \:\  \  /::\~\:\  \  /::\~\:\  \  /::\~\:\  \  /::\  \ ___  |:|__|__ 
     /:/\:\__\ /::::\__\/:/\:\ \:\__\/:/__/ \:\__\/:/__/_\:\__\/:/\:\ \:\__\/:/\:\ \:\__\/:/\:\ \:\__\/:/\:\  /\__\ /::::\__\
    /:/  \/__//:/~~/~   \/__\:\/:/  /\:\  \ /:/  /\:\  /\ \/__/\/_|::\/:/  /\/__\:\/:/  /\/__\:\/:/  /\/__\:\/:/  //:/~~/~   
   /:/  /    /:/  /          \::/  /  \:\  /:/  /  \:\ \:\__\     |:|::/  /      \::/  /      \::/  /      \::/  //:/  /     
   \/__/     \/__/            \/__/    \:\/:/  /    \:\/:/  /     |:|\/__/       /:/  /        \/__/       /:/  / \/__/      
                                        \::/  /      \::/  /      |:|  |        /:/  /                    /:/  /             
                                         \/__/        \/__/        \|__|        \/__/                     \/__/              */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 3.6em;
  color: #e84c3b;
  font-family: "Amatic SC";
}

h2 {
  font-size: 1.5em;
  font-family: "Lato";
  font-weight: 300;
  color: #444444;
}

h3 {
  font-size: 1.17em;
  font-family: "Lato";
  color: #42b2e3;
  font-weight: 300;
}

h4 {
  font-size: 1em;
  font-family: "Lato";
  color: #e84c3b;
}

h5 {
  font-size: 0.83em;
  font-family: "Lato";
}

h6 {
  font-size: 0.75em;
  font-family: "Lato";
  color: #bcbec0;
}

.headingFont, .headingFontBold {
  font-family: "Amatic SC";
}

.headingFontBold {
  font-weight: 700;
}

.bodyFont, .bodyFontBold, .bodyFontLight {
  font-family: "Lato";
}

.bodyFontBold {
  font-weight: 500;
}

.bodyFontLight {
  font-weight: 300;
}

p {
  font-size: 1em;
  font-family: "Lato";
  font-weight: 300;
  line-height: 1.2em;
}

.boldText {
  font-weight: 700;
}

/*    ___          ___       ___       ___          ___          ___          ___              
     /\  \        /\__\     /\  \     /\  \        /\  \        /\__\        /\  \             
    /::\  \      /:/  /     \:\  \    \:\  \      /::\  \      /::|  |      /::\  \            
   /:/\:\  \    /:/  /       \:\  \    \:\  \    /:/\:\  \    /:|:|  |     /:/\ \  \           
  /::\~\:\__\  /:/  /  ___   /::\  \   /::\  \  /:/  \:\  \  /:/|:|  |__  _\:\~\ \  \          
 /:/\:\ \:|__|/:/__/  /\__\ /:/\:\__\ /:/\:\__\/:/__/ \:\__\/:/ |:| /\__\/\ \:\ \ \__\         
 \:\~\:\/:/  /\:\  \ /:/  //:/  \/__//:/  \/__/\:\  \ /:/  /\/__|:|/:/  /\:\ \:\ \/__/         
  \:\ \::/  /  \:\  /:/  //:/  /    /:/  /      \:\  /:/  /     |:/:/  /  \:\ \:\__\           
   \:\/:/  /    \:\/:/  / \/__/     \/__/        \:\/:/  /      |::/  /    \:\/:/  /           
    \::/__/      \::/  /                          \::/  /       /:/  /      \::/  /            
     ~~           \/__/                            \/__/        \/__/        \/__/             
*/
.small {
  font-size: .75em;
  padding: .5em 3em;
}
@media (max-width: 580px) {
  .small {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.med {
  font-size: 1em;
  padding: .5em 4em;
}
@media (max-width: 580px) {
  .med {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

.large {
  margin-top: 1em;
  font-size: 1.3em;
  padding: .25em 5em;
}
@media (max-width: 580px) {
  .large {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

button.orangeButton {
  border: none;
  position: relative;
  float: left;
  color: #FFF;
  background: #e84c3b;
  text-decoration: none;
  font-weight: 300;
  border-radius: 5px;
}
button.orangeButton:hover {
  color: #fff;
}

button.greenButton {
  position: relative;
  float: left;
  color: #FFF;
  background: #42b2e3;
  text-decoration: none;
  font-weight: 300;
  border-radius: 5px;
}
button.greenButton:hover {
  color: #fff;
}

form {
  width: 100%;
  padding-left: 1em;
  overflow: none;
}
@media (max-width: 800px) {
  form {
    border-left: none;
    padding-top: 1em;
    padding-left: 0;
    margin: 0 auto;
  }
}

legend {
  width: 100%;
  font-family: "Lato";
  font-weight: 300;
  font-size: 1.5em;
  color: #58595b;
  padding: 0 .5em .5em 0;
  margin-bottom: .25em;
}

label {
  display: block;
  width: 100%;
  font-size: 1em;
  color: #58595b;
}

input, textarea {
  font-family: "Lato";
  background: #e9e9e9;
  font-weight: 300;
  display: block;
  font-size: 1.2em;
  outline: 0;
  border: 0;
  width: 100%;
  padding: .5em;
  margin: .5em 0 .5em 0;
  border-radius: 5px;
}

#map_canvas {
  border-bottom: 9px solid #e84c3b;
}

/*    ___       ___           ___           ___           ___           ___     
     /\__\     /\  \         |\__\         /\  \         /\__\         /\  \    
    /:/  /    /::\  \        |:|  |       /::\  \       /:/  /         \:\  \   
   /:/  /    /:/\:\  \       |:|  |      /:/\:\  \     /:/  /           \:\  \  
  /:/  /    /::\~\:\  \      |:|__|__   /:/  \:\  \   /:/  /  ___       /::\  \ 
 /:/__/    /:/\:\ \:\__\     /::::\__\ /:/__/ \:\__\ /:/__/  /\__\     /:/\:\__\
 \:\  \    \/__\:\/:/  /    /:/~~/~    \:\  \ /:/  / \:\  \ /:/  /    /:/  \/__/
  \:\  \        \::/  /    /:/  /       \:\  /:/  /   \:\  /:/  /    /:/  /     
   \:\  \       /:/  /     \/__/         \:\/:/  /     \:\/:/  /     \/__/      
    \:\__\     /:/  /                     \::/  /       \::/  /                 
     \/__/     \/__/                       \/__/         \/__/            */
body {
  margin-top: 70px;
}
@media (max-width: 720px) {
  body {
    margin-top: 55px;
  }
}

.content {
  width: 85%;
  float: right;
}
@media (max-width: 720px) {
  .content {
    width: 100%;
  }
}

.mainContentSection {
  width: 58%;
  float: left;
  margin: 1em  0 1em 2%;
  padding-left: 1em;
  overflow: none;
  border-left: 2px solid #e84c3b;
}
@media (max-width: 800px) {
  .mainContentSection {
    float: none;
    border-left: none;
    border-top: 2px solid #e84c3b;
    width: 100%;
    padding: 1em;
    margin: 0 auto;
  }
}
.mainContentSection > h2 {
  margin-bottom: .5em;
}
.mainContentSection > p.clear {
  margin-bottom: .5em;
}

.secondaryContentSection {
  width: 38%;
  float: right;
  margin: 1em  0 1em 2%;
  padding-left: 1em;
  overflow: none;
  border-left: 2px solid #e84c3b;
}
@media (max-width: 800px) {
  .secondaryContentSection {
    float: none;
    border-left: none;
    border-top: 2px solid #e84c3b;
    width: 100%;
    padding-top: 1em;
    margin: 0 auto;
  }
}
.secondaryContentSection > h2 {
  margin-bottom: .5em;
}
.secondaryContentSection > h3 {
  width: 55%;
}

.formContainer {
  width: 58%;
  float: left;
  margin: 1em 0 1em 2%;
  border-left: 2px solid #e84c3b;
}
@media (max-width: 800px) {
  .formContainer {
    float: none;
    border-left: none;
    border-top: 2px solid #e84c3b;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
  }
}

.login {
  margin: 10em auto;
  width: 32.5%;
  background: rgba(255, 255, 255, 0.3);
  padding: 2em 2em 2em 1em;
}
@media (max-width: 800px) {
  .login {
    width: 100%;
    padding: 1em;
    margin: 5em auto;
  }
}

.clearBottom {
  margin-bottom: .5em;
}

.subSection {
  border-left: 2px solid #bcbec0;
  margin: 1em 0;
  padding: .5em;
  overflow: hidden;
}
@media (max-width: 720px) {
  .subSection {
    border: none;
  }
}

.mapSection {
  width: 96%;
  float: left;
  margin: 1em  0 1em 2%;
  padding-left: 1em;
  border-left: 2px solid #e84c3b;
}
@media (max-width: 800px) {
  .mapSection {
    float: none;
    border-left: none;
    border-top: 9px solid #e84c3b;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .mapSection > h2 {
    display: none;
  }
}
.mapSection > h2 {
  margin-bottom: .5em;
}
.mapSection > h3 {
  margin-top: .5em;
  color: #e84c3b;
}
.mapSection > h3 > i {
  margin-right: .5em;
}

.marker {
  display: inline;
  float: left;
  padding: .5em;
}

.locationSection h3 {
  float: left;
  margin-top: .75em;
}

footer {
  width: 100%;
}

.background {
  background: url(../img/streetEatsbg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro {
  height: 600px;
}
.intro h1 {
  float: right;
  color: #fff;
  text-align: center;
}
.intro .introText {
  float: left;
  width: 30%;
  margin: 10% 0 0 5%;
}
@media (max-width: 720px) {
  .intro .introText {
    float: none;
    width: 80%;
    margin: 0 auto;
    padding: 3em 0 1.5em 0;
  }
}
@media (max-width: 720px) {
  .intro {
    width: 100%;
    overflow: hidden;
    height: auto;
    padding: 1em 1em 2em 1em;
  }
}

.features {
  background: #e84c3b;
  padding-bottom: 2em;
}
.features h1 {
  color: #fff;
  margin: 0 auto;
  text-align: center;
  padding: .25em;
}
.features h2 {
  margin: 0 auto;
  text-align: center;
  padding: 0 .5em .5em .5em;
}
.features .icons-ul {
  width: 70%;
  margin: 0 auto;
  padding: 1em 0;
}
.features .icons-ul li {
  font-family: "Lato";
  font-weight: 100;
  color: #fff;
  padding: 1em 0;
  line-height: 1.2em;
}
.features .icons-ul i {
  font-size: 2.5em;
  padding-top: .15em;
}
@media (max-width: 720px) {
  .features .icons-ul i {
    font-size: 2em;
  }
}

.introImg {
  float: left;
  margin-left: 25%;
  padding-top: 5em;
  max-width: 100%;
}
@media (max-width: 720px) {
  .introImg {
    display: none;
  }
}

.contact {
  background: #fff;
  padding: 2em;
}
.contact h1 {
  color: #e84c3b;
  margin: 0 auto;
  text-align: center;
  padding: .25em;
}
.contact h2 {
  margin: 0 auto;
  text-align: center;
  padding: 0 .5em .5em .5em;
}
.contact p {
  width: 60%;
  margin: 1em auto;
  text-align: center;
}
.contact p i {
  padding: 1em;
}
@media (max-width: 720px) {
  .contact p i {
    padding: .3em;
  }
}

footer {
  color: #e84c3b;
}

.formContainer .twitter-share-button {
  margin-left: 1em;
}

.twitter-share-button {
  margin-top: 1em;
}

.error-message {
  position: absolute;
  right: 10px;
}

.quickLocation {
  cursor: pointer;
}
