
//Oranges
$orange: #e84c3b;
$darkOrange: darken(#e84c3b, 20%);

//Yellows



//Blues
$green: #42b2e3;
$darkGreen: darken($green, 20%);

//Grays
$lightGray: #e9e9e9;
$gray: #bcbec0;
$medGray: #808285;
$darkGray: #58595b;

//Standards
$white: #ffffff;
$black: #000000;
$lead: #444444;

