 
 @import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700|Lato:300,400,500);
 
 //Font Weights
 $light: 300;
 $normal: 400;
 $med: 500;
 $bold: 700;
 
 //Base Font
 $baseFontFamily: "Lato";
 $baseFontWeight: $normal;
 $baseFontSize: 1em;
 
 //Headings Font
 $headerFontFamily: "Amatic SC";
 $headerFontWeight: $normal;
 
 //Headings
 $h1Size: 3.6em;
 $h2Size: 1.5em;
 $h3Size: 1.17em;
 $h4Size: 1em;
 $h5Size: .83em;
 $h6Size: .75em;
 
 
 
 
