//default form styles
 
form {
	width: 100%;
	padding-left: 1em; 
	overflow: none;
	@include breakpoint(m) { 
		border-left: none;
		padding-top: 1em;
		padding-left: 0;
		margin: 0 auto;
	}
}

legend {
	width: 100%;
	font-family: $baseFontFamily;
	font-weight: $light;
	font-size: 1.5em;
	color: $darkGray;
	padding: 0 .5em .5em 0;
	margin-bottom: .25em;
}

label {
	display: block;
	width: 100%;
	font-size: 1em;
	color: $darkGray;
}

input, textarea {
	font-family: $baseFontFamily;
	background: $lightGray;
	font-weight: $light;
	display: block;
	font-size: 1.2em;
	outline: 0;
	border: 0;
	width: 100%;
	padding: .5em;
	margin: .5em 0 .5em 0;
	border-radius: 5px;
}



