/*    ___       ___           ___           ___           ___           ___     
     /\__\     /\  \         |\__\         /\  \         /\__\         /\  \    
    /:/  /    /::\  \        |:|  |       /::\  \       /:/  /         \:\  \   
   /:/  /    /:/\:\  \       |:|  |      /:/\:\  \     /:/  /           \:\  \  
  /:/  /    /::\~\:\  \      |:|__|__   /:/  \:\  \   /:/  /  ___       /::\  \ 
 /:/__/    /:/\:\ \:\__\     /::::\__\ /:/__/ \:\__\ /:/__/  /\__\     /:/\:\__\
 \:\  \    \/__\:\/:/  /    /:/~~/~    \:\  \ /:/  / \:\  \ /:/  /    /:/  \/__/
  \:\  \        \::/  /    /:/  /       \:\  /:/  /   \:\  /:/  /    /:/  /     
   \:\  \       /:/  /     \/__/         \:\/:/  /     \:\/:/  /     \/__/      
    \:\__\     /:/  /                     \::/  /       \::/  /                 
     \/__/     \/__/                       \/__/         \/__/            */
     
body {
	margin-top: 70px;
	@include breakpoint(s) {
		margin-top: 55px;
	}
}

.content{
	width: 85%;
	float: right;
	@include breakpoint(s) {
		width: 100%;
	}
}

.mainContentSection {
	width: 58%;
	float: left;
	margin: 1em  0 1em 2%;
	padding-left: 1em; 
	overflow: none;
	border-left: 2px solid $orange;
	@include breakpoint(m) {
		float: none; 
		border-left: none;
		border-top: 2px solid $orange;
		width: 100%;
		padding: 1em;
		margin: 0 auto;
	}
	> h2 {
		margin-bottom: .5em;
	}
	> p.clear {
		margin-bottom: .5em;
	}
}

.secondaryContentSection {
	width: 38%;
	float: right;
	margin: 1em  0 1em 2%;
	padding-left: 1em; 
	overflow: none;
	border-left: 2px solid $orange;
	@include breakpoint(m) { 
		float: none;
		border-left: none;
		border-top: 2px solid $orange;
		width: 100%;
		padding-top: 1em;
		margin: 0 auto;
	}
	> h2 {
		margin-bottom: .5em;
	}
	> h3 {
		width: 55%;
	}
}

.formContainer{
	width: 58%;
	float: left;
	margin: 1em 0 1em 2%;
	border-left: 2px solid $orange;
	@include breakpoint(m) {
		float: none; 
		border-left: none;
		border-top: 2px solid $orange;
		width: 100%;
		margin: 0 auto;
		padding: 1em;
	}
}

.login {
	margin: 10em auto;
	width: 32.5%;
	background: rgba(255,255,255,0.3);
	padding: 2em 2em 2em 1em;
	@include breakpoint(m) {
		width: 100%;
		padding: 1em;
		margin: 5em auto;
	}
}

.clearBottom {
	margin-bottom: .5em;
}

.subSection {
	border-left: 2px solid $gray;
	margin: 1em 0;
	padding: .5em;
	overflow: hidden;
	@include breakpoint(s) {
		border: none;
	}
}

.mapSection {
	width: 96%;
	float: left;
	margin: 1em  0 1em 2%;
	padding-left: 1em; 
	border-left: 2px solid $orange;
	@include breakpoint(m) {
		float: none; 
		border-left: none;
		border-top: 9px solid $orange;
		width: 100%;
		padding: 0;
		margin: 0 auto;
		> h2 {
			display: none;
		} 
	}
	> h2 {
		margin-bottom: .5em;
	}
	> h3 {
		margin-top: .5em;
		color: $orange;
		> i {
			margin-right: .5em;
		}
	}
}

.marker {
	display: inline;
	float: left;
	padding: .5em;
}

.locationSection {
	h3 {
		float: left;
		margin-top: .75em;
	}
}

footer {	
	width: 100%;
}